<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smol - Url Shortener</title>
</head>
<body>
    <header>
        <img src="" alt="">   
        <nav>
            <ul>
                <li><a href="">Buy me a coffee</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>

                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <div>
                    <h2></h2>
                    <div>
                        <input type="date" name="" id="">
                    </div>
                    <button>Shorten</button>
                </div>
                <input type="date" name="" id="">
                <ul>
                    <li><a href="">Links</a></li>
                    <li><a href="">Teams</a></li>
                    <li><a href="">Insights</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div>
            <form action="http://localhost:3000/links" method="post">
                <input type="url" name="url" id="">
                <input type="submit" value="submit">
            </form>
            <div>
                <section>
                    <h3>Total Overview</h3>
                    <div>
                        <div>
                            <p>563</p>
                            <p>Links</p>
                        </div>
                        <div>
                            <p>12,876</p>
                            <p>Clicks</p>
                        </div>
                        <div>
                            <p>8,765</p>
                            <p>CTR</p>
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Total Chart</h3>
                </section>
                <section>
                    <h3>Preview Insight</h3>
                    <div>
                        <div>
                            <p>Smol.live/altschool</p>
                            <p>Smol.live/Oscar2</p>
                            <p>Trending Links</p>
                        </div>
                        <div>
                            <p>Projection</p>
                        </div>
                    </div>
                </section>
            </div>
            <div>
                <input type="search" name="" id="">
                <div>

                </div>
            </div>
            <table>
                <th>
                    <tr>
                        <td>Status</td>
                        <td>Custom/Shortened link</td>
                        <td>Base Link</td>
                        <td>Clicks</td>
                        <td>CTR</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>

                </th>
                <td>
                    <tr>
                        <td>Status</td>
                        <td>Custom/Shortened link</td>
                        <td>Base Link</td>
                        <td>Clicks</td>
                        <td>CTR</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>

                </td>
                
            </table>
        </section>
    </main>
    <footer>
        <nav>
            <li><a href="">Why Smol?</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Faq</a></li>
        </nav>
        <div>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
        
        <small>&copy; Smol by Onyeka Ann</small>
    </footer>
</body>