<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smol - Url Shortener</title>
</head>
<body>
    <header>
        <img src="" alt="">   
        <nav>
            <ul>
                <li><a href="">Buy me a coffee</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>

                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
        <div>
            <h1>Take the hassle out of sharing long and complex
                web addresses and deliver the best results for your conversion goals.
            </h1>
            <form action="">
                <input type="text" placeholder="Enter your link here">
                <input type="submit" value="Shorten Url">
            </form>
            <div>
                
            </div>
        </div>
        <img src="images/qr-img.svg" alt="">
    </header>

    <main>
        <section>
            <h2 hidden>Statistics</h2>
            <div>
                <p>500k</p>
                <p>Analytics Tracked</p>
            </div>
            <div>
                <p>200k</p>
                <p>Users Signed Up</p>
            </div>
            <div>
                <p>1M</p>
                <p>Links Shortened</p>
            </div>
        </section>
        <section>
            <div>
                <h2>Organize links like a pro</h2>
            </div>
            <div>
                <p>Upgrade to a premium plan and unlock organizational functionalities and browser extensions with more analytical tools</p>
                <a href="">Upgrade</a>
            </div>
        </section>
        <section>
            <h2>Unleash The Freebies</h2>
            <div>
                <section>
                    <h3>Link Shortener</h3>
                    <p>Shorten Url for free in a flash</p>
                </section>
                <section>
                    <h3>QR Codes</h3>
                    <p>Generate QR codes that points to your link</p>
                </section>
            </div>
            <div>
                <section>
                    <h3>Analytics</h3>
                    <p>Track key metrics on your link such as clicks etc</p>
                </section>
                <section>
                    <h3>Custom Url</h3>
                    <p>Create a customized link for you business</p>
                </section>
            </div> 
        </section>
        <section>
            <h2>Trustend By Big Brands</h2>
            <div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </section>
        <section>
            <h2>Get Smol</h2>
            <p>Are you ready to shrink or customized your links and simplify your life?, Sign up today.</p>
            <a href="">Sign Up Now</a>
        </section>
    </main>
    <footer>
        <nav>
            <li><a href="">Why Smol?</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Faq</a></li>
        </nav>
        <div>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
        
        <small>&copy; Smol by Onyeka Ann</small>
    </footer>
</body>